.cover__link {
    width: 100%;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: relative;
    text-decoration: none;
}


.cover__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
}

.cover__link:hover::before {
    opacity: .8;
    transition: opacity .3s ease-out;
}