.intro__list {
    list-style-type: none;
    max-width: 690px;
    font-family: 'Inter';
    font-size: 12px;
    line-height: 1.5;
    color: white;
    padding: 0;
    font-weight: 700;
    margin: 33px 0 0;
}