.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    max-width: 360px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}