.lead__subtitle {
    margin: 32px auto 64px auto;
    text-align: center;
    max-width: 640px;
    color: white;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Inter';
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 40px;
        max-width: 288px;
    }
}