.cover {
    max-width: 1184px;
    padding-top: 92px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        margin: 0;
        padding-top: 90px;
    }
}

@media screen and (max-width: 1px) {
    .cover {
        padding-top: 66px;
    }
}
